.horizontal,
.vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $light-grey;
  @include breakpoint("phone-tablet") {
    border-bottom: 0;
  }
  .column {
    display: flex;
    align-items: center;
    .user {
      margin-left: 10px;
      .username {
        font-weight: 600;
        display: block;
        margin-bottom: 3px;
      }
      .name {
        color: $dark-grey;
      }
    }
    .bigAvatar {
      width: 55px;
      border-radius: 50%;
    }
    .avatar {
      width: 30px;
      border-radius: 50%;
    }
    .button {
      @include blueButton();
    }
  }
}

.horizontal {
  &:last-child {
    border: 0;
  }
}

.vertical {
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 220px;
  @include boxBorder(yes);
  .column {
    flex-direction: column;
    .avatar {
      width: 78px;
      margin-bottom: 20px;
    }
    .user {
      text-align: center;
      margin: 0;
      .username {
        margin-bottom: 7px;
      }
    }
  }
  .button {
    margin-top: 15px;
    min-width: 95px;
  }
}
