.actions {
  margin-bottom: 10px;
  .icons {
    margin-bottom: 5px;
    .icon {
      cursor: pointer;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .likes {
    font-weight: 600;
    cursor: pointer;
  }
}
