$tablet-width: 768px;
$desktop-width: 875px;
$xl-desktop-width: 1351px;
$phone-width: 320px;
$iphone6-width: 375px;
$iphone6plus-width: 550px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: #{$iphone6plus-width}) and (max-width: #{$desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "tablet-landscape" {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == "table-portrait" {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) and (orientation: portrait) {
      @content;
    }
  } @else if $breakpoint == "phone" {
    @media (min-width: #{$phone-width}) and (max-width: #{$iphone6plus-width}) {
      @content;
    }
  } @else if $breakpoint == "phone-landscape" {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == "desktop-xl" {
    @media (min-width: #{$xl-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "phone-tablet" {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }
}

@mixin boxBorder($radius) {
  border: 1px solid #e6e6e6;
  background-color: white;
  @if $radius == yes {
    border-radius: 3px;
  }
}

@mixin blueButton() {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $light-blue;
  color: white;
  font-weight: 600;
  border: 0;
  font-size: $normal-font-size;
  line-height: 26px;
  cursor: pointer;
  width: 100%;
  padding: 2px 9px;
  &:focus,
  &:active {
    outline: none;
  }
  &:active {
    opacity: 0.7;
  }
}
