.footer {
  max-width: $max-page-width;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $small-font-size;
  margin: 55px auto;
  flex-wrap: wrap;
  @include breakpoint("phone-tablet") {
    justify-content: center;
    max-width: 350px;
    margin-bottom: 25px;
  }
  .column {
    @include breakpoint("phone-tablet") {
      margin-bottom: 0;
    }
    .nav {
      .list {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint("phone-tablet") {
          justify-content: center;
        }
        .list-item {
          margin-right: 15px;
          color: $dark-blue;
          cursor: pointer;
          @include breakpoint("phone-tablet") {
            margin-bottom: 10px;
            margin-right: 15px;
          }
        }
      }
    }
    .copyright {
      color: $dark-grey;
    }
  }
}
