.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  .column {
    display: flex;
    align-items: center;
    .user {
      margin-left: 10px;
      .username {
        font-weight: 600;
      }
    }
    .bigAvatar {
      width: 55px;
      border-radius: 50%;
    }
    .avatar {
      width: 30px;
      border-radius: 50%;
    }
    .button {
      @include blueButton();
    }
  }
}
