.navigation {
  width: 100%;
  @include boxBorder(no);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  box-sizing: border-box;
  @include breakpoint("phone") {
    margin-bottom: 0;
  }
  .inner {
    max-width: $max-page-width + 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;
    padding: 25px 40px;
    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      &:nth-child(2) {
        @include breakpoint("phone") {
          display: none;
        }
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
      .logo {
        max-width: 125px;
      }
      .search-input {
        max-width: 215px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: $normal-font-size;
        font-weight: 300;
        margin-right: 15px;
        &::placeholder {
          color: $dark-grey;
        }
        &:focus {
          outline: none;
          background-color: white;
        }
      }
      .nav-icon {
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}
